<h2> Welcome to the Finance Tracker.  </h2>

<div class="center jumbotron">
  <h1>FINTRACKER</h1>
  <p>...</p>
  
</div>

<%= link_to "my_portfolio", my_portfolio_path %>

<!--<%= link_to "logout", destroy_user_session_path, method: :delete %>-->