

.jumbotron {
    background-image: asset-url('Stock.png');
    background-size: cover;
    height: 450px;
}

.jumbotron h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    letter-specing: -1px;
    font-weight: bold;
}

.results-block {
    display: inline-block;
}